@model IEnumerable<Player>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Players</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Home" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square-botted">&nbsp; Create New Player</i>
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Gender</th>
                <th>Birthday</th>
                <th>Team</th>
                <th>Country</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="50%">@obj.Name</td>
                    <td width="50%">@obj.Surname</td>
                    <td width="50%">@obj.Gender</td>
                    <td width="50%">@obj.DateBirth</td>
                    <td width="50%">@obj.NameTeam.NameOfTeam</td>
                    <td width="50%">@obj.Country</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Home" asp-action="Edit" asp-route-id="@obj.Id"
                               class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-squre">Edit</i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>